<div style="z-index: 1" class="jumbo-img-overlay">
<div class="jumbotron" id="jumbo">
<!--   <h1></h1> -->
  <!-- <h1>Welcome to Platinum Can Society</h1> -->
    <h3 style="font-size: 30px; font-weight: bold; color: black;">Fast, safe, and reliable.</h3>
    <p style="font-size: 25px; color: black;/* font-weight: bold;*/">We provide the best leading products. Delivered right to your door.</p>
  </div>
</div>
</br>

<section></section>

<div class="container about">
  <div class="row text-about">
    <h1>About</h1>
    <p> <%=Faker::Lorem.paragraphs(7)%></p>
  </div>
</div>

<section></section>
<br></br>

<hr></hr>

<div class="container" id="frontitems">
  <div class="row" >
    <div class="img-responsive" id="rowItems">
    <!-- 
      <div class="col-md-3">  
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200/">
          <div class="caption">
            <h3>Hippopotamus</h3>
            <p>Hello hello hello</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200/">
          <div class="caption">
            <h3>Hippopotamus</h3>
            <p>Hello hello hello</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200/">
          <div class="caption">
            <h3>Hippopotamus</h3>
            <p>Hello hello hello</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200/">
          <div class="caption">
            <h3>Hippopotamus</h3>
            <p>Hello hello hello</p>
          </div>
        </div>
      </div>
 -->
    </div>
  </div>
</div>

