#jumbo {
  text-align: left;    
  padding-top: 100px; 
  padding-bottom: 100px; 
  /*background-image:"http://mjnexpress.com/wp-content/uploads/2016/03/mjbanner.jpg"; */
  /*  width:90%;
  margin:auto;
*/
  height:50vh;
  background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/02/Girls-with-Weed-Wallpaper.jpg");
  background-repeat : no-repeat;
  background-attachment: fixed;
  /*background-position : center;*/
}

.jumbo-img-overlay{
  background: rgba(70,72,85,0.5);
  height:inherit;
}

#frontitems{
  margin-top:10%; 
  text-align:center;
}

img{
  width:800px;
  height:500px;
  /*padding-top:50px;*/
}

/*@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: font-url('OpenSans-Regular.tff');
}*/
body{
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: sand;
}