body{
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  background-color: sand;
  height:100vh;
  
  width: 100vw;
}
.navbar-full{
  background-color:#333333;
}

#main {
  overflow:auto;
  padding-bottom:250px; /* this needs to be bigger than footer height*/
}

#jumbo {
  margin-left:-18px;
  text-align: left;
  padding-top: 30vh;
  padding-bottom: 100px;
  height:100vh;
  width:100vw;
  background-image: url("http://img0.ndsstatic.com/wallpapers/fd77ebf5ce2d7161ae06189cc8e2c787_large.jpeg");
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-position : top;
}

`
#frontitems{
  border-style: solid;
  background-color:#8BA663;
  margin-top:10%;
  text-align:center;
}

img{
  width:800px;
  height:600px;
  /*padding-top:50px;*/
}


.footer {
  margin-top: 300px;
  top: 100vh;
  position: relative;
  height: 195px;
  width: 100vw;
  clear:both;
  background-color: #e7e7e7;
}

.checkout-cart{
  background-color: red;
  font-size: 22px;
}
#flash-notice{
  position:fixed;
  /*top:67px;*/
  color: black;
  background-color: red;
  width: 100vw;
}
#shopping-cart{
  font-size:20px;
  color: white;
}
#btn-modal{
  margin-top:0px;
}
.login-container{
  margin-top:100px;
}
.email-container{
  margin-top:100px;
  background-color: #07780C;
}
.email-container p{
  font-size: 25px;
  line-height: 45px;
}

/*User information on modal checkout summary*/
.modal-cart-userinfo{
  background-color: #E7E7E7;
  width: 85%;
}
/*media query for breakpoint on tablets and lower*/
@media(max-width:767px){
  /*body is shifted down 100px due to navbar being enlarged in mobile devices/tablets*/
  body{
    padding-top:100px;
  }
  .email-container p{
    font-size:18px;
    line-height: 30px;
  }
  /*hiding submit search btn*/
  input.btn.btn-default{
    display:none;
  }
}
