<!-- <h2>Products</h2> -->
  <div class="container" id="productitems">
  <div class="row" >
    <div class="img-responsive" id="rowItems">
    <h2 style="text-align: left;"> Products </h2>
      <!-- <div class="col-md-3">   -->
      
        <%@products.each do |product|%>
    
        <div class="col-md-3">  
            <div class="thumbnail">
             <img src="<%=product.picture%>">
              <div class="caption">
                <h3><%=product.name.titleize%></h3>
                  <p><%=number_to_currency(product.price)%>/gram</p>
                <p><%=product.description%></p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
</div>

<!-- <div class="container-fluid">
  <div style="background-color: blue; float: left"class="row">
    <div class="col-sm-3">
      <div class="left-side-nav">
        <ul style="list-style: none; text-align:left;">
          <li>hello</li>
          <li>goodbye</li>
        </ul>
      </div>
    </div>
  </div>
    
</div>