<!-- <h2>Products</h2> -->
  <div style="float: right" class="container" id="productitems">
  <div class="row" >
    <div class="img-responsive" id="rowItems">
    <h2 style="text-align: left;"> Products </h2>
      <!-- <div class="col-md-3">   -->

      </div>
    </div>
</div>

<!-- <div class="container-fluid">
  <div style="background-color: blue; float: left"class="row">
    <div class="col-sm-3">
      <div class="left-side-nav">
        <ul style="list-style: none; text-align:left;">
          <li>hello</li>
          <li>goodbye</li>
        </ul>
      </div>
    </div>
  </div>
    
</div>