<%= link_to 'Back to all Products', products_path %>


<div class="container text-left">
  <h1><%=@product.name.titleize%><h1>
  <p><img style="float:left" class="show-image" src="<%=@product.picture%>"></p>
  <div class="product-text" style="float:right">  
    <h4><%=@product.description%><h4>
  </div>
  
<div>

